# bitcoind RPC settings
rpcuser=reddcoinrpc
rpcpassword=6zSho8J9ZyJmcQqMpyv2WsbZcdQHLRpv2CanHTUfbr88
host=10.0.0.90
#host=127.0.0.1
#testnet
#port=55443
#mainnet
port=45443

# blockversion settings
netmagic=fbc0b6db
#POSv start
#min_height=260800
#min_height=495008
min_height=1300000
max_height=0
db=blockversion.db